@media(max-width: 620px){
    
    
    .pokemon-slider{
        padding: 0 15px;
        gap: 10px;
        
    }
    .cabecalho{
        padding: 50px 30px;
    }
    
    .btn-seta{
        width: 65px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lista-pokemons{
        height: 480px;
    }

    .cartao .imagem-pokemon{
        max-height: 230px;
    }

    .cartao .informacoes .nome{
        font-size: 18px;
        max-width: 50%;
    }

    .cartao .informacoes .vida{
        font-size: 14px;
    }
}